Scalar bundle fails to properly bundle

### What happens?

I'm using:
```bash
$ scalar --version
0.2.286
```

(installed with `npm install -g @scalar/cli`)

I have a source file in `apis/example/openapi.yaml` that $ref components from in `apis/common/openapi.yaml`
(source shown below)
and `scalar validate` shows both are valid.

```bash
$ scalar validate apis/example/openapi.yaml
scalar validate apis/example/openapi.yaml
Matches the OpenAPI specification (OpenAPI 3.1)

File validated in 143 ms

$ scalar validate apis/common/openapi.yaml
scalar validate apis/common/openapi.yaml
Matches the OpenAPI specification (OpenAPI 3.1)

File validated in 137 ms
```

However, the `scalar bundle` warns that the file doesn’t match the OpenAPI specification, then emits a bunch of garbage output

```bash
scalar bundle apis/example/openapi.yaml -o apis/example/bundled.yaml
[WARN] File doesn’t match the OpenAPI specification.

[WARN] {
  has: [ 33 ],
  keys: [ { open: '\x1B[33m', close: '\x1B[39m', rgx: /\x1b\[39m/g } ],
  reset: [Function: bound ],
  bold: [Function: bound ],
  dim: [Function: bound ],
  italic: [Function: bound ],
  underline: [Function: bound ],
  inverse: [Function: bound ],
  hidden: [Function: bound ],
  strikethrough: [Function: bound ],
  black: [Function: bound ],
  red: [Function: bound ],
  green: [Function: bound ],
  yellow: [Function: bound ],
  blue: [Function: bound ],
  magenta: [Function: bound ],
  cyan: [Function: bound ],
  white: [Function: bound ],
  gray: [Function: bound ],
  grey: [Function: bound ],
  bgBlack: [Function: bound ],
  bgRed: [Function: bound ],
  bgGreen: [Function: bound ],
  bgYellow: [Function: bound ],
  bgBlue: [Function: bound ],
  bgMagenta: [Function: bound ],
  bgCyan: [Function: bound ],
  bgWhite: [Function: bound ]
} (undefined)

OpenAPI Schema bundled in 135 ms
```

This does generate the output file `apis/example/bundled.yaml` and it is valid

```bash
$ scalar validate apis/example/bundled.yaml
Matches the OpenAPI specification (OpenAPI 3.1)

File validated in 136 ms
```

however

1) the file is not yaml; it is JSON
2) the file is not bundled -- all the $ref still refer back to `../common/openapi.yaml`

Source files:

```
cat apis/common/openapi.yaml
openapi: "3.1.0"

info:
  title: Common API Components
  description: API components (schemas, parameters, responses) shared across Apiture APIs.
  version: 0.1.0
  contact:
    name: Apiture
    url: 'https://developer.apiture.com/help/support'
    email: api@apiture.com
  license:
    name: Apiture API License
    url: 'https://developer.apiture.com/docs/Apiture-API-License-Agreement.pdf'
servers:
  - url: /example

paths: {}

components:

  responses:

    '400':
      description: >-
        Bad Request.
        The request body, request headers, and/or query parameters are not well-formed.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/problemResponse'
            example:
              id: 3fbad566-be86-4b22-9ba6-3ca99fdc0799
              type: 'https://api.apiture.com/errors/badRequest/v1.0.0'
              title: Bad Request
              status: 400
              occurredAt: '2022-04-25T12:42:21.375Z'
              detail: Input did not parse as JSON
              instance: 'https://api.apiture.com/banking/transfers/bb709151-575041fcd617'
        application/json:
          schema:
            $ref: '#/components/schemas/problemResponse'
            example:
              id: 3fbad566-be86-4b22-9ba6-3ca99fdc0799
              type: 'https://api.apiture.com/errors/badRequest/v1.0.0'
              title: Bad Request
              status: 400
              occurredAt: '2022-04-25T12:42:21.375Z'
              detail: Input did not parse as JSON
              instance: 'https://api.apiture.com/banking/transfers/bb709151-575041fcd617'

    '401':
      description: >-
        Unauthorized.
        The operation requires authentication but no authentication or insufficient authentication was given.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/problemResponse'
            example:
              id: 3fbad566-be86-4b22-9ba6-3ca99fdc0799
              type: 'https://api.apiture.com/errors/unauthorized/v1.0.0'
              title: Unauthorized
              status: 401
              occurredAt: '2022-04-25T12:42:21.375Z'
              detail: The request lacks valid authentication credentials
              instance: 'https://api.apiture.com/banking/transfers/bb709151-575041fcd617'
        application/json:
          schema:
            $ref: '#/components/schemas/problemResponse'
            example:
              id: 3fbad566-be86-4b22-9ba6-3ca99fdc0799
              type: 'https://api.apiture.com/errors/unauthorized/v1.0.0'
              title: Unauthorized
              status: 401
              occurredAt: '2022-04-25T12:42:21.375Z'
              detail: The request lacks valid authentication credentials
              instance: 'https://api.apiture.com/banking/transfers/bb709151-575041fcd617'

    '403':
      description: >-
        Forbidden.
        The authenticated caller is not authorized to perform the requested operation.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/problemResponse'
            example:
              id: 3fbad566-be86-4b22-9ba6-3ca99fdc0799
              type: 'https://api.apiture.com/errors/forbidden/v1.0.0'
              title: Forbidden
              status: 403
              occurredAt: '2022-04-25T12:42:21.375Z'
              detail: The request has valid authentication,
                but the authenticated agent is forbidden from accessing this resource or operation
              instance: 'https://api.apiture.com/banking/transfers/bb709151-575041fcd617'
        application/json:
          schema:
            $ref: '#/components/schemas/problemResponse'
            example:
              id: 3fbad566-be86-4b22-9ba6-3ca99fdc0799
              type: 'https://api.apiture.com/errors/forbidden/v1.0.0'
              title: Forbidden
              status: 403
              occurredAt: '2022-04-25T12:42:21.375Z'
              detail: The request has valid authentication,
                but the authenticated agent is forbidden from accessing this resource or operation
              instance: 'https://api.apiture.com/banking/transfers/bb709151-575041fcd617'

  securitySchemes:
    apiKey:
      type: apiKey
      name: API-Key
      in: header
      description: >-
        API Key based client identification.

  schemas:

    abstractBody:
      title: Abstract Body
      x-apiture-version: 0.2.0
      description: An abstract schema used to define other request and response body model schemas.
      type: object
      properties: {}

    apiProblem:
      x-apiture-version: 1.2.1
      title: API Problem
      description: 'API problem or error, as per [RFC 7807 application/problem+json](https://tools.ietf.org/html/rfc7807).'
      type: object
      properties:
        type:
          type: string
          format: uri-reference
          description: >
            A [URI reference (RFC3986)](https://tools.ietf.org/html/rfc3986) that identifies the
            problem type. If present, this is the URL of human-readable HTML documentation for the
            problem type.
            When this member is not present, its value is assumed to be `"about:blank"`.
          example: 'https://api.apiture.com/errors/forbidden/v1.0.0'
          maxLength: 2048
        title:
          type: string
          description: >
            A short, human-readable summary of the problem type.
            The title is usually the same for all problem with the same `type`.
          maxLength: 120
          format: text
          example: User is not authorized to perform the requested action or access the requested resource.
        status:
          type: integer
          format: int32
          description: >
            The [HTTP status code](https://datatracker.ietf.org/doc/html/rfc7231#section-6)
            for this occurrence of the problem.
          minimum: 100
          maximum: 599
          example: 403
        detail:
          type: string
          description: >
            A human-readable explanation specific to this occurrence of the problem.
          maxLength: 256
          format: text
          example: User is not authorized to perform this operation.
        instance:
          type: string
          format: uri-reference
          description: >
            A URI reference that identifies the specific occurrence of the problem.
            This is the URI of an API resource that the problem is related to,
            with a unique error correlation ID URI fragment
          example: 'https://prduction.api.apiture.com/banking/accounts/ad80fc3e722q5402a#189c13ff-c54c-45f7-b8e0-c88984ba724d'
          maxLength: 2048
        id:
          description: >-
            The unique identifier for this problem.
            This is an immutable opaque string.
          $ref: '#/components/schemas/readOnlyResourceId'
        occurredAt:
          description: The timestamp when the problem occurred, in
            [RFC 3339](https://tools.ietf.org/html/rfc3339)
            date-time `YYYY-MM-DDThh:mm:ss.sssZ` format, UTC.
          $ref: '#/components/schemas/readOnlyTimestamp'
        problems:
          description: Optional root-causes if there are multiple problems in the request or API call processing.
          type: array
          maxItems: 128
          items:
            $ref: '#/components/schemas/apiProblem'
        attributes:
          type: object
          description: Additional optional attributes related to the problem.
            This data conforms to the schema associated with the error type.
      example:
        id: 3fbad566-be86-4b22-9ba6-3ca99fdc0799
        type: 'https://api.apiture.com/errors/accountNotFound/v1.0.0'
        title: Account Not Found
        status: 422
        occurredAt: '2022-04-25T12:42:21.375Z'
        detail: No account exists at the given account_url
        instance: 'https://api.apiture.com/banking/transfers/bb709151-575041fcd617'

    problemResponse:
      title: Problem Response
      x-apiture-version: 0.4.1
      description: 'API problem or error response, as per [RFC 9457 application/problem+json](https://tools.ietf.org/html/rfc9457).'
      type: object
      allOf:
        - $ref: '#/components/schemas/abstractBody'
        - $ref: '#/components/schemas/apiProblem'
      example:
        id: 3fbad566-be86-4b22-9ba6-3ca99fdc0799
        type: 'https://api.apiture.com/errors/noSuchAccount/v1.0.0'
        title: Account Not Found
        status: 422
        occurredAt: '2022-04-25T12:42:21.375Z'
        detail: No account exists for the given account reference
        instance: 'https://api.apiture.com/banking/transfers/bb709151-575041fcd617'

    createdAtField:
      description: A field used to represent the `createdAt` date-time for a resource.
      x-apiture-fragment: true
      type: object
      properties:
        createdAt:
          description: >-
            The date-time when this resource was created, in
            [RFC 3339](https://tools.ietf.org/html/rfc3339)
            date-time `YYYY-MM-DDThh:mm:ss.sssZ` format, UTC. This is derived and immutable.
          $ref: '#/components/schemas/readOnlyTimestamp'
$ cat apis/example/openapi.yaml
openapi: 3.1.0

info:
  title: Example
  description: >-
    An example API, to test Scalar
  version: 0.1.0
  contact:
    name: Apiture
    url: 'https://developer.apiture.com/help/support/'
    email: api@apiture.com
  termsOfService: 'https://developer.apiture.com/docs/Apiture-API-License-Agreement.pdf'
  license:
    name: Apiture API License
    url: 'https://developer.apiture.com/docs/Apiture-API-License-Agreement.pdf'

servers:
  - url: /example

tags:
  - name: Example
    description: Example

paths:
  /example:
    get:
      summary: Return something
      description: Return something.
      operationId: getSomething

      tags:
        - Example
      responses:
        '200':
          description: OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/something'
        '400':
          $ref: '../common/openapi.yaml#/components/responses/400'
        '401':
          $ref: '../common/openapi.yaml#/components/responses/401'
        '403':
          $ref: '../common/openapi.yaml#/components/responses/403'
      security:
        - apiKey: []

components:
  securitySchemes:
    apiKey:
      $ref: '../common/openapi.yaml#/components/securitySchemes/apiKey'
  schemas:
    something:
      title: Something
      description: Something
      unevaluatedProperties: false
      allOf:
        - $ref: '../common/openapi.yaml#/components/schemas/abstractBody'
        - type: object
          properties:
            x:
              description: X
              type: string
```

Finally, here is the output file:

```bash
$ cat apis/example/bundled.yaml
{
  "openapi": "3.1.0",
  "info": {
    "title": "Example",
    "description": "An example API, to test Scalar",
    "version": "0.1.0",
    "contact": {
      "name": "Apiture",
      "url": "https://developer.apiture.com/help/support/",
      "email": "api@apiture.com"
    },
    "termsOfService": "https://developer.apiture.com/docs/Apiture-API-License-Agreement.pdf",
    "license": {
      "name": "Apiture API License",
      "url": "https://developer.apiture.com/docs/Apiture-API-License-Agreement.pdf"
    }
  },
  "servers": [
    {
      "url": "/example"
    }
  ],
  "tags": [
    {
      "name": "Example",
      "description": "Example"
    }
  ],
  "paths": {
    "/example": {
      "get": {
        "summary": "Return something",
        "description": "Return something.",
        "operationId": "getSomething",
        "tags": [
          "Example"
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/something"
                }
              }
            }
          },
          "400": {
            "$ref": "../common/openapi.yaml#/components/responses/400"
          },
          "401": {
            "$ref": "../common/openapi.yaml#/components/responses/401"
          },
          "403": {
            "$ref": "../common/openapi.yaml#/components/responses/403"
          }
        },
        "security": [
          {
            "apiKey": []
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "$ref": "../common/openapi.yaml#/components/securitySchemes/apiKey"
      }
    },
    "schemas": {
      "something": {
        "title": "Something",
        "description": "Something",
        "unevaluatedProperties": false,
        "allOf": [
          {
            "$ref": "../common/openapi.yaml#/components/schemas/abstractBody"
          },
          {
            "type": "object",
            "properties": {
              "x": {
                "description": "X",
                "type": "string"
              }
            }
          }
        ]
      }
    }
  }
}
```

### What did you expect to happen?


```bash
$ scalar bundle openapi.yaml -o bundled.yaml
````
should work when the source and $ref'ed component exists and are valid
and it should produce YAML output, not JSON, with all the `$ref` elements resolved

### OpenAPI Document

_No response_

I have the same issue and the same strange output. 

1. Split a valid OAS yaml file using redocly/openapi.
2. I use the Scalar docusaurus plugin to display it on my docs website. 
3. I see my final page in Docusaurus only contains the root content of my OAS file (non bundled, I expect Scalar to resolve the ref paths itself).

I also notice a different validation output if I toggle between version 3.1.0 and version 3.0.0:
`scalar validate` tells me my file is valid with 3.0.0 but invalid for 3.1.0 (which, as far as I know, might be wrong as 3.1 didn't impact $refs)

Same issue appears with the paid hosted doc site -- $refs do not resolve and the accompanying sections of the UI are blank.

Added a new bundle command :)